<footer className='footer'>
  <div className='nav-container'>
    <ul>
      <li className='nav-link'>Home</li>
      <li className='nav-link'>Books</li>
      <li className='nav-link'>Dashboard</li>
    </ul>
  </div>
  <div className='nav-container'>
    <h1 className='nav-title'>Book Hub</h1>
  </div>
  <div className='nav-container'>
    <ul>
      <li className='nav-link'>Login</li>
      <li className='nav-link'>Sign up</li>
      <li className='nav-link'>Logout</li>
    </ul>
  </div>
</footer>