<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookHub</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <!-- Navigation bar -->
<header class="header">
  <!-- Logo -->
  <a href="#" class="logo">BookHub</a>
  <!-- Hamburger icon -->
  <input class="side-menu" type="checkbox" id="side-menu"/>
  <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
  <!-- Menu -->
  <nav class="nav">
    <ul class="menu">
      <li><a href="/">About</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/cart">Cart</a></li>
    </ul>
  </nav>
</header>
<!-- Main content -->
  <main class="content">
    {{{body}}}
  </main>

</body>
</html>
<script src='/js/login.js'></script>
