<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookHub</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
   <div class="container">

    <input id="toggle" type="checkbox">

    
    <label class="toggle-container" for="toggle">
     
      <span class="button button-toggle"></span>
    </label>

    <!-- The Nav Menu -->
    <nav class="nav">
      <a class="nav-item" href="">Dashboard</a>
      <a class="nav-item" href="">History</a>
      <a class="nav-item" href="">Statistics</a>
      <a class="nav-item" href="">Settings</a>
    </nav>

    <!-- Dummy Content -->
    <section class="dummy-content">
      <div class="circle"></div>
      <div class="text">
        <span></span><span></span>
      </div>
      <div class="square-top"></div>
      <div class="square-behind"></div>
    </section>
  </div>
  <main class="main-hb-main">
    {{{body}}}
  </main>

</body>
</html>