<section class='h-full flex flex-col mt-12 w-full px-2 bg-slate-100'>
  <header class='flex flex-row gap-2 items-start justify-around mb-12'>
    <div class='flex flex-col'>
        <h1 class='text-2xl font-bold'>Dashboard</h1>
        <p>Manage your books here.</p></div>
    <div>
        <section class='flex flex-row gap-2 md:gap-4'>
            <a href="/books"><article
            class='flex items-center justify-center text-center p-2 h-36 w-48 text-white bg-green-400 rounded-lg hover:opacity-80'
            >View books</article></a>
            <a href="/books/add"><article
            class='flex items-center justify-center text-center p-2 h-36 w-48 text-white bg-purple-400 rounded-lg hover:opacity-80'
            >Add book</article></a>
            <a href="/"><article
            class='flex items-center justify-center text-center p-2 h-36 w-48 text-white bg-red-400 rounded-lg hover:opacity-80'
            >Update book</article></a>
      </section>
    </div>
  </header>
  <section>
    <div class='flex flex-col md:flex-row gap-4 w-full'>
      <article
        class='flex flex-col  p-2 bg-gray-200 rounded-lg h-36 w-full'
      ><h2  class="font-semibold">My Books</h2></article>
      <article
        class='flex flex-col p-2 bg-gray-200 rounded-lg h-36 w-full'
      ><h2 class="font-semibold">Add a book</h2></article>
    </div>
  </section>
</section>