<div class="container mx-auto pt-20 pb-12 sm:pb-[20px] lg:pt-[50px] lg:pb-[40px]">
    <div class="relative bg-white pt-[120px] pb-[110px] lg:pt-[150px]">
        <div class="container mx-auto ">
            <div class="-mx-4 flex flex-wrap">
                <div class="w-full px-4 lg:w-5/12">
                    <div class="  justify-center">
                    <h1
                        class="text-dark mb-3 text-4xl font-bold leading-snug sm:text-[42px] lg:text-[40px] xl:text-[42px]"
                    >
                        BookHub <br />
                        Amazing Website <br />
                    </h1>
                    <h2 class="text-dark mb-3 text-4xl font-bold leading-snug sm:text-[25px] lg:text-[20px] xl:text-[25px]">
                        with Darius, Nathan, Aaraon,and Daniel.
                    </h2>
                    <p class="text-body-color mb-8 max-w-[480px] text-base">
                        Welcome to Bookhub! <br />
                        Bookhub allows librarians to add, read, update, and delete digital database for their physical selections. It also allows
                        librarians to keep track of their lent inventory. Sign up for bookhub today to take your library to digital age!
                    </p>
                    <ul class="flex flex-wrap items-center">
                    <button class="bg-gray-100">
                        discover!
                    </button>
                    </ul>  
                    </div>
                </div>
                <div class="hidden px-4 lg:block lg:w-1/12"></div>
                <div class="w-full px-4 lg:w-6/12">
                    <div class="lg:ml-auto lg:text-right">
                    <div class="relative z-10 inline-block pt-11 lg:pt-0">
                        <img
                        src="https://cdn.stocksnap.io/img-thumbs/960w/still-items_Q5NA7WES7K.jpg"
                        alt="hero"
                        class="max-w-full lg:ml-auto"
                        />
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative bg-white pt-[120px] pb-[110px] lg:pt-[150px]">
        <div class="container mx-auto ">
            <div class="-mx-4 flex flex-wrap">
                <div class="hidden px-4 lg:block lg:w-1/12"></div>
                <div class="w-full px-4 lg:w-6/12">
                    <div class="lg:ml-auto lg:text-right">
                    <div class="relative z-10 inline-block pt-11 lg:pt-0">
                        <img
                        src="https://cdn.stocksnap.io/img-thumbs/960w/library-books_HQ6LK6WPE6.jpg"
                        alt="hero"
                        class="max-w-full lg:ml-auto"
                        />
                    </div>
                    </div>
                </div>
                <div class="w-full px-4 lg:w-5/12">
                    <div class="  justify-center">
                    <h1 class="text-dark mb-3 text-4xl font-bold leading-snug sm:text-[42px] lg:text-[40px] xl:text-[42px]">
                        Introduction 
                    </h1>
                    
                    <p class="text-body-color mb-8 max-w-[480px] text-base">
                         Bookhub is is our exciting new application that will make operating your library 10 times more efficient. <br />
                With our team's state of the art web programming education, we bring to you a way to access the digital database of your physical library.
                It will allow you to populate the database with the collection in your very own library.<br /> Once you have your library database populated, 
                you can add, edit, or delete entries to keep up to date with your physical collection. <br />Is security an issue for you? We have implmented 
                technology to verify employee status and make sure only you or people you trust can alter the items in your database. <br />Once your database
                is populated and accurate, you can start lending them out to patrons. When a patron takes a book home, the database will remember who
                checked out what book and when.<br />
                    </p> 
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    {{> footer}}
</div>

<script src="/js/login.js"></script>
