<div class="container mx-auto px-2 mt-4 md:mt-10 ">
    <div class="relative bg-white  ">
        <div class="relative bg-white ">
            <div class="container mx-auto ">
                <div class="-mx-4 flex flex-wrap">
                    <div class="w-full px-4 lg:w-5/12">
                        <div class="flex flex-col gap-2 justify-center">
                            <h1 class="text-dark text-4xl font-bold leading-snug text-Gray-500">
                                BookHub 
                            </h1>
                            <h2 class="text-lg mb-1">Welcome to Bookhub! </h2>
                            <p class="text-body-color md:w-full  w-3/5 text-base ">
                                BookHub allows users to browse a wide selection of books that they can check out. Users can add, read, update, and delete books from the database by creating a free account. 
                            </p>
                            <p class="text-body-color  md:w-full w-3/5 text-base">
                                It can also be used by librarians to keep track of their library's book inventory. Join BookHub today to bring your library into the digital age!
                            </p>
                            <ul class="flex flex-wrap items-center">
                            <a href="/books" class="p-2 mt-2 hover:scale-95 ease-in-out transition hover:opacity-70 hover:bg-green-700 hover:text-black rounded-sm border-2 border-green-700 text-gray-500 bg-white ">
                                Browse books
                            </a>
                            </ul>  
                        </div>
                    </div>
                    <div class="hidden px-4 lg:block lg:w-1/12"></div>
                    <div class="w-full px-4 lg:w-6/12">
                        <div class="lg:ml-auto lg:text-right">
                        <div class="relative z-10 inline-block pt-11 lg:pt-0">
                            <img
                            src="https://cdn.stocksnap.io/img-thumbs/960w/still-items_Q5NA7WES7K.jpg"
                            alt="hero"
                            class="max-w-full lg:ml-auto rounded-sm shadow-lg"
                            />
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative bg-white pt-[120px] pb-[110px] lg:pt-[150px]">
        <div class="container mx-auto ">
            <div class="-mx-4 flex flex-wrap">
                
                <div class="w-full px-4 lg:w-6/12 pt-12 lg:pt-0">
                    <div class="lg:ml-auto lg:text-right">
                    <div class="relative z-10 inline-block ">
                        <img
                        src="https://cdn.stocksnap.io/img-thumbs/960w/library-books_HQ6LK6WPE6.jpg"
                        alt="hero"
                        class="max-w-full lg:ml-auto rounded-sm shadow-lg"
                        />
                    </div>
                    </div>
                </div>
                <div class="hidden px-4 lg:block lg:w-1/12"></div>
                <div class="w-full px-4 lg:w-5/12 flex flex-col gap-2 pt-8 md:pt-0">
                        <h1 class="text-dark  text-4xl font-bold leading-snug text-4xl text-Gray-500">
                            Who we are 
                        </h1>                    
                        <p class="text-body-color max-w-[480px] text-base">
                            Bookhub brings users a way to access the digital database of their physical book library using our team's cutting-edge application. It will allow you to populate the database with items from your own library.
                        </p> 
                        <p class="text-body-color max-w-[480px] text-base">
                            Once your library database is complete, you can add, edit, or delete entries to keep the collection always up to date.
                            Only verified users you choose can change the items in the database.                        
                        </p>
                        <ul class="flex flex-wrap items-center">
                            <a href="/signup" class="p-2 mt-2 hover:scale-95 ease-in-out transition hover:opacity-70 hover:bg-green-700 hover:text-black rounded-sm border-2 border-green-700 text-gray-500 bg-white ">
                                Sign up to explore
                            </a>
                        </ul> 
                </div>
                
            </div>
        </div>
    </div>
    
    {{> footer}}
</div>

<script src="/js/login.js"></script>
