<div class='mt-24 h-full login-card container'>
  
  <section class="h-screen input-wrapper">
  <div class="px-6 text-gray-800">
    <div
      class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6"
    >
      <div
        class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0"
      >
        <img
          src="https://cdn.stocksnap.io/img-thumbs/960w/books-market_UVRPTGPNJ2.jpg"
          class="w-full"
          alt="Sample image"
        />
      </div>
      <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
        <form id='login-form' class='auth-form'>
          <!-- Email input -->
          <div class="input-wrapper">
            <label for='username-input-login'>Username</label>
            <input
              type="text"
              class="auth-input-fields form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id='username-input-login'
              placeholder="username"
            />
          </div>

          <!-- Password input -->
          <div class="input-wrapper">
            <label for='password-input-login' class='form-label'>Password</label>
            <input
              type="password"
              class="auth-input-fields form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="password-input-login"
              placeholder="Password"
            />
          </div>

          <div class="text-center lg:text-left">
            <button
              type="submit" id='login-btn'
              class="auth-btn inline-block px-7 py-3 bg-gray-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-gray-700 hover:shadow-lg focus:bg-gray-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-800 active:shadow-lg transition duration-150 ease-in-out"
            >
              Login
            </button>
            <p class="text-sm mt-4">
              Don't have an account?
              <a type='button'
                href="/signup"
                class="text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out"
                >Register</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
 {{> footer}}
</div>


<script src='/js/login.js'></script>