<div class='h-full login-card '>
  <div class='auth-container my-12'>
    <div >
      <h2 class="text-xl font-bold text-center">Sign Up</h2>
    </div>
    <form id='register-form' class='auth-form'>
      <div class="input-wrapper">
        <label for='username-input-login'>Username</label>
        <input type='text'  class='auth-input-fields' id='username-input-login' />
      </div>
      <div class="input-wrapper">
        <label for='password-input-login' class='form-label'>Password</label>
        <input type='password' class='auth-input-fields'  id='password-input-login' />
      </div>
      <button type='submit' id='login-btn' class='auth-btn bg-green-400'>Sign up</button>
      <p class="">Have an account already? <a class='text-red-400 hover:underline hover:opacity-80 ' type='button' href='/login'>Login</a>
      </p>
    </form></div>
    {{> footer}}
</div>

<script src='/js/signup.js'></script>