@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --btn: rgb(4, 110, 209);
}

*, *::before, *::after {
    box-sizing: border-box;
}


body {
    background-color: #f2f2f2;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

/* Navbar */
.content {
    height: 600px;
    display: grid;
    place-items: center;
}

/* Header */
.header {
    background-color: #36383F;
    position: sticky;
    top: 0;
    width: 100%;
}

/* Logo */
.logo {
    display: inline-block;
    color: #f9f9f9;
    font-size: 3rem;
    margin-left: 1.125rem;
    text-decoration: none;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #36383F;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu a {
    display: block;
    padding: 1.875em;
    color: #f9f9f9;
    text-decoration: none;
}

.menu a:hover {
    background-color: #85888C;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2.25rem 1.125rem;
}

/* Style label tag */

.hamb-line {
    background: #f9f9f9;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: #f9f9f9;
    content: '';
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* auth forms [login/register] */

.login-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container {
    background-color: gainsboro;
    padding: 2rem;
    width: 50%;
    border-radius: 8px;
}

#login-form {
    width: 100%;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.auth-input-fields {
    padding: 1rem;
    border-radius: 4px;
    border: none;
}

.auth-btn {
    padding: .5rem;
    background-color: var(--btn);
    color: white;
    border: none;
    border-radius: 4px;
    width: 12rem;
    height: 3rem;
}

.auth-btn:hover {
    opacity: 70%;
    transform: scale(.97);
    transform: translateY(5px);

    transition-duration: 300ms;
}

/* Responsiveness */
@media (min-width: 48em) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        all: unset;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu {
        display: flex;
    }

    .menu a:hover {
        background-color: transparent;
        color: #85888C;
    }

    .hamb {
        display: none;
    }
}